<html>
<head>
    <meta charset="UTF-8">
    <title>System Homepage-Borrowing Information</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
</head>
<body>

<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a>Library Management System</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container clearfix">
     <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>Menu</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <ul class="sub-menu">
                       <li><a href="{{ url_for("addbook") }}">Book Adding</a></li>
                        <li><a href="{{ url_for("deletebook") }}">Book Deletion</a></li>
                        <li><a href="{{ url_for("changebook") }}">Book Revision</a></li>
                        <li><a href="{{ url_for("querybook") }}">Book Search</a></li>
                        <li><a href="{{ url_for("borrowrecord") }}">Borrowing Record</a></li>
                        <li><a href="{{ url_for("readerinfor") }}">Reader Information</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
  <div class="main-wrap">
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-content">
                    <table class="result-tab" width="100%">
                         <tr id="col-title">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Placement</th>
                            <th>Name of borrower</th>
                            <th>Borrowing time</th>
                        </tr>
                        {% for record in records %}
                          <tr>
                            <td>{{ record.book_id }}</td>
                            <td>{{ record.book_name }}</td>
                            <td>{{ record.location }}</td>
                            <td>{{ record.borrow_stu_name }}</td>
                            <td>{{ record.borrow_time }}</td>
                          </tr>
                          {% endfor %}
                    </table>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>

</body>
</html>


