<html>
<head>
    <meta charset="UTF-8">
    <title>系统主页-读者信息</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
</head>
<body>

<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a>图书管理系统</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container clearfix">
     <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <ul class="sub-menu">
                       <li><a href="{{ url_for("addbook") }}">图书添加</a></li>
                        <li><a href="{{ url_for("deletebook") }}">图书删除</a></li>
                        <li><a href="{{ url_for("changebook") }}">图书修改</a></li>
                        <li><a href="{{ url_for("querybook") }}">图书查询</a></li>
                        <li><a href="{{ url_for("borrowrecord") }}">借阅记录</a></li>
                        <li><a href="{{ url_for("readerinfor") }}">读者信息</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
  <div class="main-wrap">
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-content">
                    <table class="result-tab" width="100%">
                         <tr id="col-title">
                            <th>姓名</th>
                            <th>班级</th>
                            <th>学号</th>
                            <th>联系电话</th>
                            <th>借书数量</th>
                        </tr>
                        {% for reader in readers %}
                          <tr>
                            <td>{{ reader.reader_name }}</td>
                            <td>{{ reader.reader_class }}</td>
                            <td>{{ reader.reader_learn_num }}</td>
                            <td>{{ reader.reader_phone }}</td>
                            <td>{{ reader.reader_borrow_num }}</td>
                          </tr>
                          {% endfor %}
                    </table>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>

</body>
</html>


