<html xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
	<meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
    	body
		{
  			background-image: url("/static/images/1.jpg");
  			background-position: center 0;
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  			background-size: cover;
  			-webkit-background-size: cover;
  			-o-background-size: cover;
  			-moz-background-size: cover;
		}
        #login{
            width: 500px;
            margin: 200px auto;
        }
        * {
            padding:0;
            margin:0;
        }
    </style>
</head>

<script>
    ! function() {
        //Encapsulation method to reduce file size after compression
        function get_attribute(node, attr, default_value) {
            return node.getAttribute(attr) || default_value;
        }
        //Encapsulation method to reduce file size after compression
        function get_by_tagname(name) {
            return document.getElementsByTagName(name);
        }
        //Getting configuration parameters
        function get_config_option() {
            var scripts = get_by_tagname("script"),
                script_len = scripts.length,
                script = scripts[script_len - 1]; //Currently loaded script
            return {
                l: script_len, //length, used for generating ids
                z: get_attribute(script, "zIndex", -1), //z-index
                o: get_attribute(script, "opacity", 0.5), //opacity
                c: get_attribute(script, "color", "0,0,0"), //color
                n: get_attribute(script, "count", 99) //count
            };
        }
        //Set the height and width of the canvas
        function set_canvas_size() {
            canvas_width = the_canvas.width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
                canvas_height = the_canvas.height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
        }

        //drawing process
        function draw_canvas() {
            context.clearRect(0, 0, canvas_width, canvas_height);
            //Joint array of random lines and current position
            var e, i, d, x_dist, y_dist, dist; //interim node
            //Iteration handles each point
            random_points.forEach(function(r, idx) {
                r.x += r.xa,
                    r.y += r.ya, //mobility
                    r.xa *= r.x > canvas_width || r.x < 0 ? -1 : 1,
                    r.ya *= r.y > canvas_height || r.y < 0 ? -1 : 1, //Hit the border. Reverse bounce.
                    context.fillRect(r.x - 0.5, r.y - 0.5, 1, 1); //Draw a point with a width and height of 1
                //Start at the next point.
                for (i = idx + 1; i < all_array.length; i++) {
                    e = all_array[i];
                    // Current point exists
                    if (null !== e.x && null !== e.y) {
                        x_dist = r.x - e.x; //x-axis distance l
                        y_dist = r.y - e.y; //y-axis distance n
                        dist = x_dist * x_dist + y_dist * y_dist; //Total distance, m

                        dist < e.max && (e === current_point && dist >= e.max / 2 && (r.x -= 0.03 * x_dist, r.y -= 0.03 * y_dist), //Accelerate on approach.
                            d = (e.max - dist) / e.max,
                            context.beginPath(),
                            context.lineWidth = d / 2,
                            context.strokeStyle = "rgba(" + config.c + "," + (d + 0.2) + ")",
                            context.moveTo(r.x, r.y),
                            context.lineTo(e.x, e.y),
                            context.stroke());
                    }
                }
            }), frame_func(draw_canvas);
        }
        //Create a canvas and add it to the body
        var the_canvas = document.createElement("canvas"), //canvas
            config = get_config_option(), //configure
            canvas_id = "c_n" + config.l, //canvas id
            context = the_canvas.getContext("2d"), canvas_width, canvas_height,
            frame_func = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function(func) {
                window.setTimeout(func, 1000 / 45);
            }, random = Math.random,
            current_point = {
                x: null, //Current mouse x
                y: null, //Current mouse y
                max: 20000 // Square of circle radius
            },
            all_array;
        the_canvas.id = canvas_id;
        the_canvas.style.cssText = "position:fixed;top:0;left:0;z-index:" + config.z + ";opacity:" + config.o;
        get_by_tagname("body")[0].appendChild(the_canvas);

        //Initialise canvas size
        set_canvas_size();
        window.onresize = set_canvas_size;
        //Store the mouse position at that time and release the current position information when you leave.
        window.onmousemove = function(e) {
            e = e || window.event;
            current_point.x = e.clientX;
            current_point.y = e.clientY;
        }, window.onmouseout = function() {
            current_point.x = null;
            current_point.y = null;
        };
        //Randomly generated config.n line position information
        for (var random_points = [], i = 0; config.n > i; i++) {
            var x = random() * canvas_width, //random location
                y = random() * canvas_height,
                xa = 2 * random() - 1, //Random direction of motion
                ya = 2 * random() - 1;
            // random point
            random_points.push({
                x: x,
                y: y,
                xa: xa,
                ya: ya,
                max: 6000 //adhesion distance
            });
        }
        all_array = random_points.concat([current_point]);
        //Plotted in 0.1 seconds
        setTimeout(function() {
            draw_canvas();
        }, 100);
    }();
</script>
<div class="panel panel-default" id="login"  >
    <div class="panel-heading" style="background-color: #fff">
        <h3 class="panel-title" style="font-size: 30px">Please enter your registration information</h3>
    </div>
    <div class="panel-body">
        <FORM NAME=form1 action="{{ url_for("register") }}" method="POST">
        <div class="form-group">
            <label for="username">user ID</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="Please enter your user ID">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Please enter your password">
        </div>

        <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input name="password2" type="password2" class="form-control" id="password2" placeholder="Confirm Password">
        </div>
            <h6 align="center" style="color:red ">{{ get_flashed_messages()[0] }} </h6>
        <p style="width: 100%;display: flex;align-items: center;justify-content: space-around" id="info">
            <INPUT style="width: 170px;height: 50px;background-color: #2f96b4;border: 0px;border-radius: 10px"  TYPE=submit VALUE="Register">
            <a style="width: 170px;height: 50px;background-color: #2f96b4;border: 0px;border-radius: 10px;display: flex;align-items: center;justify-content: center;color: black" href="{{ url_for("login") }}">Return to login</a>
        </p><br/>
        </FORM>
    </div>
</div>
</body>
</html>
